@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap');


:root
{
    --main-acceent-color: ;
    --section-title-color-dark: ;
    --body-color: ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1.1rem;
}

h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
}

#logo
{
    color: #a0d334;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/*  ====  button ==== */

.btn-white
{
    border: 1px solid #fff;
    border-radius: 0em;
    font-weight: 500;
    font-size: 0.8em;
    color: #fff;
    padding: 0.5rem 2.5rem;

}

.btn-green
{
    border: none;
    border-radius: 0em;
    font-weight: 500;
    padding: 0.5rem 2.5rem;
    font-size: 0.8em;
    background-color: #a0d334;
}


/* ==== navbar ==== */

.navbar
{
    padding-top: 1.2em;
}

.navbar-light .navbar-nav .nav-link
{
    color: #fff;
    font-weight: 500;
    font-size: 0.85em;
}

.navbar-light .navbar-nav .nav-link:hover
{
    color: #000;
}

/* ==== Background Image Section ==== */

#land
{
    background-image: linear-gradient(to right, rgba(164, 120, 204, 0.72), rgba(96, 72, 255, 0.72)), url('../image/cover1.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    position: relative;
}

#land2
{
    padding-top: 8rem;
    padding-bottom: 22rem;
}

.main-land2-content
{
    padding-left: 15rem;
    color: #fff;
}

#land2::after
{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 22%;
    transform: skewY(-6deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;
}

/* ======== Service ======== */

#service
{
    padding-bottom: 7rem;
}

.my-service-col
{
    padding: 0 1rem;
}

.my-service-content h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #4a4a4a;
}

.my-service-content h5
{
    font-weight: 500;
    font-size: 18px;
    color: #4a4a4a;
}

.my-service-content p
{
    font-size: 14px;
    color: #6e6e6e;
}

.my-service-col p
{
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
}

/* space after col  */
.col-space      
{
    margin: 2em 0;
}

/* ======== fa fa Icon ======== */

.fa::before {
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
  }

.fa-joomla::before
{
    background-image: linear-gradient(to right, #fc60de, #b424e5);
}

.fa-desktop::before
{
    background-image: linear-gradient(to right,#57c0fe, #1776e5);
}

.fa-camera-retro::before
{
    background-image: linear-gradient(to right, #ffdd41, #ff8758);
}

.fa-video-camera::before
{
    background-image: linear-gradient(to right, #5df0b5, #2bb7b9);
}


/* ======== Story ========  */

.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
    background-color: #fff;
} 

.btn-circle.btn-xl:hover
{
    background-color: #57c0fe;
}


#story
{
    background-image: linear-gradient(to right, rgba(164, 120, 204, 0.72), rgba(96, 72, 255, 0.72)), url('../image/cover2.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    /* padding-top: 4rem; */
    padding-bottom: 18rem;
    position: relative;
}

#story::before
{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20%;
    transform: skewY(-6deg);
    transform-origin: top right;
    top: -10rem;
    right: 0;
    left: 0;
}

#story .col
{
    padding-top: 22rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
}

.space-between
{
    margin: 1em 0;
}

#story::after
{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20%;
    transform: skewY(-6deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;
}

/* #land2
{
    padding-top: 8rem;
    padding-bottom: 22rem;
}

.main-land2-content
{
    padding-left: 15rem;
    color: #fff;
}

#land2::after
{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 22%;
    transform: skewY(-6deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;
} */
